* {
    border-radius: 0px;
}

html, body {
    height: 100%;
}

.card-container.card {
    max-width: 350px;
    padding: 40px 40px;
}

.card {
    background-color: #444444;
    color: #fff;
    /* just in case there no content*/
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 20px 0 0;
    min-height: 1em;
    margin-bottom: 10%;
}

.btn-login {
    margin-top: 3%;
    border-radius: 0px;
    background-color: #ff6347;
}

.btn-login:hover {
    background: #f94f31;
    color: #fff;
}

/*Icon style*/
.fa-gray {
    color: #ccc;
}

.custom-btn-default, .custom-btn-default:hover {
    margin-top: 3%;
    border-radius: 0px;
    background-color: #fff;
    color: #000000;
    border-color: #a0a0a0;
}

.btn-link, .btn-link:hover {
    border-color: transparent;
    background-color: transparent;
    color: #fff;
}

.btn-link-dark, .btn-link-dark:hover {
    border-color: transparent;
    background-color: transparent;
    color: #555;
}

.custom-btn-error, .custom-btn-error:hover {
    margin-top: 3%;
    border-radius: 0px;
    background-color: #d9534f;
    color: #fff;
    border-color: #d43f3a;
}

.form-signin input[type=password],
.form-signin input[type=text],
.form-signin input[type=checkbox]
.form-signin button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    border-radius: 0px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-control {
    border-radius: 0px;
    margin-top: 1%;
}

.panel-heading {
    color: #fff !important;
    background-color: #444444 !important;
    border-radius: 0px;
}

.panel-title {
    padding-top: 7.5px;
}

.panel-gray {
    color: #555 !important;
    background-color: #fff !important;
    border-radius: 0px;
}

.list-group-item:first-child, .list-group-item:last-child {
    border-radius: 0px;
}

/*Comment box*/
.detailBox {
    width: inherit;
    border: 1px solid #f4f4f5;
    margin: 5%;
}

.titleBox {
    background-color: #fdfdfd;
    padding: 10px;
}

.commentBox {
    padding: 10px;
    border-top: 1px solid #555;
}

.commentBox .form-group:first-child, .actionBox .form-group:first-child {
    width:80%;
}
.commentBox .form-group:nth-child(2), .actionBox .form-group:nth-child(2) {
    width:18%;
}
.actionBox .form-group * {
    width:100%;
}
.taskDescription {
    margin-top:10px 0;
}
.commentList {
    padding:0;
    list-style:none;
    max-height:200px;
    overflow:auto;
}
.commentList li {
    margin:0;
    margin-top:10px;
}
.commentList li > div {
    display:table-cell;
}
.commenterImage {
    width:30px;
    margin-right:5px;
    height:100%;
    float:left;
}
.commenterImage img {
    width:100%;
    border-radius:50%;
}
.commentText p {
    margin:0;
}
.sub-text {
    color:#aaa;
    font-family:verdana;
    font-size:11px;
}
.actionBox {
    padding:10px;
}
/*End Comment Box Style*/

/*Section and Item List Style*/
.just-padding {
  padding: 15px;
}

.list-group.list-group-root {
  padding: 0;
  overflow: hidden;
}

.list-group.list-group-root .list-group {
  margin-bottom: 0;
}

.list-group.list-group-root .list-group-item {
  border-radius: 0;
  border-width: 1px 0 0 0;
}

.list-group.list-group-root > .list-group-item:first-child {
  border-top-width: 0;
}

.list-group.list-group-root > .list-group > .list-group-item {
  padding-left: 30px;
}

.list-group.list-group-root > .list-group > .list-group > .list-group-item {
  padding-left: 45px;
}
/*End Section and Item List Style*/

.close {
    color: #000;
}

.close:hover {
    color: #ff6347;
}

/*Font Awesome Icon*/
.fa-file, .fa-trash {
    color: #555;
}

.fa-file:hover, .fa-trash:hover {
    color: #337ab7;
}
/*End Font Awesome Icon*/